.log-ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.log_li a{
	 display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.log_li a:hover {
    background-color: #555;
    color: white;
}
ul {
	list-style-type: none;
}
.menu_li .log_li_current .log_link,.log_link:hover {
	background-color:#f36371;
}
.bod {
	border-style: dashed;	
	padding: 10px;
}
.active {
	background-color: #555;
	color: white;
}
.sub {
	background-color: #01a2a6; font-size: 25px;
	color: white;
}
